rmxp-plugin-system/
Pokemon_Reborn/*.dll
Pokemon_Reborn/timestamp.bin
Pokemon_Reborn/Data/Actors.rxdata
Pokemon_Reborn/Data/Animations.rxdata
Pokemon_Reborn/Data/Armors.rxdata
Pokemon_Reborn/Data/Classes.rxdata
Pokemon_Reborn/Data/CommonEvents.rxdata
Pokemon_Reborn/Data/Enemies.rxdata
Pokemon_Reborn/Data/Items.rxdata
Pokemon_Reborn/Data/Map[0-9][0-9][0-9].rxdata
Pokemon_Reborn/Data/MapInfos.rxdata